/* Himanshu Shekhar */

*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: auto auto;
    height: 100vh;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background: linear-gradient(to right, #181818, #000000);
}

#about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background: linear-gradient(to right, #000000, #222121);
}

#trending-section{
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #2b2b2b, #050000);
}

#trending-section p{
    padding-top: 8rem;
}

.title{
    font-size: 6rem;
    margin-bottom: 1rem;
    background: linear-gradient(to right,#14dddd,#6d35b3);
    /* background-size: 100%; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-title{
    font-size: 5rem;
    margin-bottom: 2rem;
    background: linear-gradient(to right,#14dddd,#6d35b3);
    /* background-size: 100%; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   

.para{
    font-size: 3.3rem;
    margin-bottom: 2rem;
    background-color: #ffac81;
    background-image: linear-gradient(to right, #087ee1,#05e8ba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn{
    color: #fff;
    background-color: #ffac81;
    background-image: linear-gradient(to right, #5090c5,#790db8);
    text-decoration: none;
    font-size: 2.8rem;
    padding: 10px;
    border-radius: 10px;
}

